.clr-icon {
  &.clr-clarity-logo {
      background-image: url(../../images/intellect-logo.png);
      height: 36px;
      width: 36px;
      margin-right: 11px;
  }
}

.bottomMargin {
    
  margin-bottom: 3cm;
}

.headerPropLogin {
        
  background-color: #007CBB;
  margin-bottom: 2cm;
}
